{% extends "upload/project/base.html" %}

{% load static %}
{% load bootstrap3 %}

{% block title %} Add Sample Data - {{ project_obj.name }} {% endblock %}

{% block main_content %}
  <h1>Add Sample Data</h1>

  <div class="row">
    <div class="col-md-3 col-md-push-9">
      <!--
      <div class="well well-sm">
        <h3>Help text here.</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dignissim facilisis mi ut ultrices. Quisque dignissim arcu quis orci sagittis aliquam. Fusce interdum mauris eget velit mattis tempor. Aenean condimentum quam enim. Nullam a lectus sit amet tortor suscipit interdum. Curabitur laoreet euismod justo, a fermentum nunc laoreet sed. Phasellus pharetra nec nunc id hendrerit. Quisque ornare, purus et semper scelerisque, eros lacus ultrices metus, vitae fermentum quam lectus at nisi.
        </p>
      </div>
      -->
    </div>
    <div class="col-md-9 col-md-pull-3">
      <form id="addProjectForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% if dataset %}
        <div class="alert alert-info">
          <p><i class="glyphicon glyphicon-info-sign"></i> You are also associating the following dataset with this Sample:</p>
          <ul>
            <li><a href="{{ dataset_url }}" target="_blank">{{ dataset.name }}</a></li>
          </ul>
        </div>
        {% endif %}

        <div class="actions">
          <button type="submit" class="btn btn-primary">Save Sample Data</button>
          <a href="{% url 'view_project' project_obj.id %}" class="btn btn-link">Cancel</a>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
